
.accordion_light_theme {
    background-color: #10b981 !important;
    color: white !important;
    font-weight: bold;
}


.down_menu_primary {
    width: 100%;
    border: 2px solid black;
}


.menu_primary {
    background-color: #10b981;
    width: 40%;
    color: red;
}